In [6]:
import pandas as pd

cities = pd.read_csv('cities-in-poland.csv', sep=';')

The list of Polish cities is available in the cities-in-poland.csv file. Calculate and display:

The number of cities in each province

In [9]:
cities.loc[:,['Province', 'City']].groupby('Province').count()

                     City
Province
dolnośląskie           91
kujawsko-pomorskie     52
lubelskie              43
lubuskie               42
mazowieckie            86
małopolskie            59
opolskie               35
podkarpackie           51
podlaskie              40
pomorskie              42
warmińsko-mazurskie    49
wielkopolskie         111
zachodniopomorskie     65
łódzkie                44
śląskie                71
świętokrzyskie         32

The total number of inhabitants in each province

In [11]:
cities.loc[:,['Province', 'Population']].groupby('Province').sum()

                     Population
Province
dolnośląskie            2014847
kujawsko-pomorskie      1250502
lubelskie                992787
lubuskie                 663334
mazowieckie             3427481
małopolskie             1604742
opolskie                 520618
podkarpackie             880328
podlaskie                720900
pomorskie               1487883
warmińsko-mazurskie      854265
wielkopolskie           1914114
zachodniopomorskie      1177650
łódzkie                 1583399
śląskie                 3542874
świętokrzyskie           565304

The total number of inhabitants in each of the regions in the 'opolskie' province

In [21]:
cities.query("Province == 'opolskie'").loc[:,['Region', 'Population']] \
.groupby('Region').sum()

                         Population
Region
Opole[a]                     119574
brzeski                       51431
głubczycki                    22087
kluczborski                   34055
krapkowicki                   35279
kędzierzyńsko-kozielski       62840
namysłowski                   16126
nyski                         73571
oleski                        23715
opolski                       18426
prudnicki                     29874
strzelecki                    33640

The total number of inhabitants in each of the regions in the 'opolskie' province; sort the values in descending order

In [23]:
cities.query("Province == 'opolskie'").loc[:,['Region', 'Population']] \
.groupby('Region').sum().sort_values('Population', ascending=False)

                         Population
Region
Opole[a]                     119574
nyski                         73571
kędzierzyńsko-kozielski       62840
brzeski                       51431
krapkowicki                   35279
kluczborski                   34055
strzelecki                    33640
prudnicki                     29874
oleski                        23715
głubczycki                    22087
opolski                       18426
namysłowski                   16126