The cities-in-poland.csv file contains a list of cities in Poland. Open the CSV file in a character editor and familiarize yourself with the data structure of the file. Notice that the data is separated by a semicolon. Find in the Pandas manual how to get data from a CSV file, separated by a semicolon.

Create a new notebook and read the contents of the CSV file. Then, display file contents. As you can see, due to the volume of the data, only the first and last few rows are displayed. Find out how to display all rows of data.

Finally, complete each task in a separate Code cell.
Copy the command content into a text cell and then add a Code cell below with the solution to the problem.

In [2]:
import pandas as pd

cities_in_poland = pd.read_csv("cities-in-poland.csv", sep=";")
cities_in_poland

             City          Region            Province  Areakm2  Population
0     Bolesławiec   bolesławiecki        dolnośląskie    23.57       39464
1    Nowogrodziec   bolesławiecki        dolnośląskie    16.10        4227
2         Bielawa  dzierżoniowski        dolnośląskie    36.21       30987
3     Dzierżoniów  dzierżoniowski        dolnośląskie    20.07       34168
4         Niemcza  dzierżoniowski        dolnośląskie    19.81        3107
..            ...             ...                 ...      ...         ...
908   Świnoujście  Świnoujście[a]  zachodniopomorskie   197.23       41276
909        Człopa         wałecki  zachodniopomorskie     6.27        2345
910   Mirosławiec         wałecki  zachodniopomorskie     2.17        3040
911        Tuczno         wałecki  zachodniopomorskie     9.21        1956
912         Wałcz         wałecki  zachodniopomorskie    38.17       26033

[913 rows x 5 columns]

* display the first 10 rows of data

In [3]:
cities_in_poland.head(10)

           City          Region      Province  Areakm2  Population
0   Bolesławiec   bolesławiecki  dolnośląskie    23.57       39464
1  Nowogrodziec   bolesławiecki  dolnośląskie    16.10        4227
2       Bielawa  dzierżoniowski  dolnośląskie    36.21       30987
3   Dzierżoniów  dzierżoniowski  dolnośląskie    20.07       34168
4       Niemcza  dzierżoniowski  dolnośląskie    19.81        3107
5      Pieszyce  dzierżoniowski  dolnośląskie    63.61        9586
6  Piława Górna  dzierżoniowski  dolnośląskie    20.93        6702
7        Głogów       głogowski  dolnośląskie    35.11       68836
8          Góra        górowski  dolnośląskie    13.65       12316
9        Wąsosz        górowski  dolnośląskie     3.24        2774

* display all rows of data

In [10]:
# pd.set_option('display.max_row', None)
# or
# cities_in_poland.head(None)

* display last 8 rows of data with columns: City, Province, Population

In [12]:
cities_in_poland.loc[:,["City", "Province", "Population"]].tail(8)

              City            Province  Population
905     Szczecinek  zachodniopomorskie       40535
906  Połczyn-Zdrój  zachodniopomorskie        8418
907        Świdwin  zachodniopomorskie       15588
908    Świnoujście  zachodniopomorskie       41276
909         Człopa  zachodniopomorskie        2345
910    Mirosławiec  zachodniopomorskie        3040
911         Tuczno  zachodniopomorskie        1956
912          Wałcz  zachodniopomorskie       26033

* calculate and add population density to the data frame (add a new column)

In [13]:
cities_in_poland["Density"] = (
    cities_in_poland["Population"] / cities_in_poland["Areakm2"]
)

cities_in_poland

,City,Region,Province,Areakm2,Population,Density
0,Bolesławiec,bolesławiecki,dolnośląskie,23.57,39464,1674.331778
1,Nowogrodziec,bolesławiecki,dolnośląskie,16.10,4227,262.546584
2,Bielawa,dzierżoniowski,dolnośląskie,36.21,30987,855.758078
3,Dzierżoniów,dzierżoniowski,dolnośląskie,20.07,34168,1702.441455
4,Niemcza,dzierżoniowski,dolnośląskie,19.81,3107,156.839980
...,...,...,...,...,...,...
908,Świnoujście,Świnoujście[a],zachodniopomorskie,197.23,41276,209.278507
909,Człopa,wałecki,zachodniopomorskie,6.27,2345,374.003190
910,Mirosławiec,wałecki,zachodniopomorskie,2.17,3040,1400.921659
911,Tuczno,wałecki,zachodniopomorskie,9.21,1956,212.377850
912,Wałcz,wałecki,zachodniopomorskie,38.17,26033,682.027771

* display first 5 rows with columns: City, Density

In [14]:
cities_in_poland.loc[:,["City", "Density"]].head(5)

           City      Density
0   Bolesławiec  1674.331778
1  Nowogrodziec   262.546584
2       Bielawa   855.758078
3   Dzierżoniów  1702.441455
4       Niemcza   156.839980

* sort cities alphabetically and display the first 10 cities

In [15]:
cities_in_poland.sort_values("City").head(10)

,City,Region,Province,Areakm2,Population,Density
91,Aleksandrów Kujawski,aleksandrowski,kujawsko-pomorskie,7.23,12487,1727.109267
267,Aleksandrów Łódzki,zgierski,łódzkie,13.82,21224,1535.745297
276,Alwernia,chrzanowski,małopolskie,8.88,3435,386.824324
328,Andrychów,wadowicki,małopolskie,10.33,20993,2032.236205
156,Annopol,kraśnicki,lubelskie,7.73,2624,339.456662
503,Augustów,augustowski,podlaskie,80.90,30482,376.786156
214,Babimost,zielonogórski,lubuskie,3.65,3999,1095.616438
420,Baborów,głubczycki,opolskie,11.86,3009,253.709949
501,Baranów Sandomierski,tarnobrzeski,podkarpackie,9.15,1463,159.890710
139,Barcin,żniński,kujawsko-pomorskie,3.70,7655,2068.918919

* display cities with at least half a million inhabitants (How many such cities are there in Poland?)

In [27]:
cities_in_poland.query("Population >= 500000")#.shape[0]

,City,Region,Province,Areakm2,Population,Density
75,Wrocław,Wrocław[a],dolnośląskie,292.82,634487,2166.815791
240,Łódź,Łódź[a],łódzkie,293.25,706004,2407.515772
290,Kraków,Kraków[a],małopolskie,326.85,761873,2330.956096
352,Warszawa,m. st. Warszawa[a],mazowieckie,517.24,1735442,3355.196814
807,Poznań,Poznań[a],wielkopolskie,261.91,545680,2083.463785

* display 10 cities with the highest population

In [28]:
cities_in_poland.sort_values("Population", ascending=False).head(10)

,City,Region,Province,Areakm2,Population,Density
352,Warszawa,m. st. Warszawa[a],mazowieckie,517.24,1735442,3355.196814
290,Kraków,Kraków[a],małopolskie,326.85,761873,2330.956096
240,Łódź,Łódź[a],łódzkie,293.25,706004,2407.515772
75,Wrocław,Wrocław[a],dolnośląskie,292.82,634487,2166.815791
807,Poznań,Poznań[a],wielkopolskie,261.91,545680,2083.463785
551,Gdańsk,Gdańsk[a],pomorskie,261.96,461489,1761.677355
901,Szczecin,Szczecin[a],zachodniopomorskie,300.55,407180,1354.782898
99,Bydgoszcz,Bydgoszcz[a],kujawsko-pomorskie,175.98,357652,2032.344585
163,Lublin,Lublin[a],lubelskie,147.47,341722,2317.230623
615,Katowice,Katowice[a],śląskie,164.64,301834,1833.296890

* display 10 cities with the least population

In [30]:
cities_in_poland.sort_values("Population").head(10)

,City,Region,Province,Areakm2,Population,Density
332,Wyśmierzyce,białobrzeski,mazowieckie,16.84,921,54.691211
675,Działoszyce,pińczowski,świętokrzyskie,1.92,964,502.083333
510,Suraż,białostocki,podlaskie,33.86,1009,29.799173
890,Nowe Warpno,policki,zachodniopomorskie,24.51,1226,50.020400
211,Szlichtyngowa,wschowski,lubuskie,1.55,1289,831.612903
662,Skalbmierz,kazimierski,świętokrzyskie,7.13,1313,184.151473
521,Kleszczele,hajnowski,podlaskie,46.71,1321,28.280882
563,Krynica Morska,nowodworski,pomorskie,116.01,1335,11.507629
137,Lubień Kujawski,włocławski,kujawsko-pomorskie,2.31,1413,611.688312
833,Dobra,turecki,wielkopolskie,1.84,1427,775.543478

* display cities from the 'małopolskie' province

In [31]:
cities_in_poland.query("Province == 'małopolskie'")

,City,Region,Province,Areakm2,Population,Density
272,Bochnia,bocheński,małopolskie,29.87,30104,1007.833947
273,Nowy Wiśnicz,bocheński,małopolskie,4.97,2767,556.740443
274,Brzesko,brzeski,małopolskie,11.83,17090,1444.632291
275,Czchów,brzeski,małopolskie,14.09,2364,167.778566
276,Alwernia,chrzanowski,małopolskie,8.88,3435,386.824324
277,Chrzanów,chrzanowski,małopolskie,38.32,37898,988.987474
278,Libiąż,chrzanowski,małopolskie,35.85,17284,482.119944
279,Trzebinia,chrzanowski,małopolskie,31.94,20127,630.150282
280,Dąbrowa Tarnowska,dąbrowski,małopolskie,23.07,11881,514.997833
281,Szczucin,dąbrowski,małopolskie,6.85,4189,611.532847
282,Biecz,gorlicki,małopolskie,17.71,4728,266.967815
283,Bobowa,gorlicki,małopolskie,7.18,3006,418.662953
284,Gorlice,gorlicki,małopolskie,23.53,28255,1200.807480
285,Krzeszowice,krakowski,małopolskie,16.97,10173,599.469652
286,Skała,krakowski,małopolskie,2.97,3800,1279.461279
287,Skawina,krakowski,małopolskie,20.50,24203,1180.634146
288,Słomniki,krakowski,małopolskie,3.43,4402,1283.381924
289,Świątniki Górne,krakowski,małopolskie,4.44,2400,540.540541
290,Kraków,Kraków[a],małopolskie,326.85,761873,2330.956096
291,Limanowa,limanowski,małopolskie,18.70,15078,806.310160
292,Mszana Dolna,limanowski,małopolskie,27.10,7890,291.143911
293,Miechów,miechowski,małopolskie,15.49,11830,763.718528
294,Dobczyce,myślenicki,małopolskie,12.97,6449,497.224364
295,Myślenice,myślenicki,małopolskie,30.22,18346,607.081403
296,Sułkowice,myślenicki,małopolskie,16.46,6537,397.144593
297,Grybów,nowosądecki,małopolskie,16.95,6063,357.699115
298,Krynica-Zdrój,nowosądecki,małopolskie,39.68,10992,277.016129
299,Muszyna,nowosądecki,małopolskie,24.43,5028,205.812526
300,Piwniczna-Zdrój,nowosądecki,małopolskie,38.30,5967,155.796345
301,Stary Sącz,nowosądecki,małopolskie,15.00,9040,602.666667
302,Nowy Targ,nowotarski,małopolskie,51.07,33598,657.881339
303,Rabka-Zdrój,nowotarski,małopolskie,36.31,13082,360.286422
304,Szczawnica,nowotarski,małopolskie,32.90,5972,181.519757
305,Nowy Sącz,Nowy Sącz[a],małopolskie,57.58,83853,1456.286905
306,Bukowno,olkuski,małopolskie,64.59,10336,160.024772
307,Olkusz,olkuski,małopolskie,25.65,36477,1422.105263
308,Wolbrom,olkuski,małopolskie,10.12,8823,871.837945
309,Brzeszcze,oświęcimski,małopolskie,19.04,11560,607.142857
310,Chełmek,oświęcimski,małopolskie,8.27,9198,1112.212817
311,Kęty,oświęcimski,małopolskie,23.05,19062,826.984816
312,Oświęcim,oświęcimski,małopolskie,30.00,39444,1314.800000
313,Zator,oświęcimski,małopolskie,11.52,3700,321.180556
314,Nowe Brzesko,proszowicki,małopolskie,7.26,1667,229.614325
315,Proszowice,proszowicki,małopolskie,7.33,6158,840.109141
316,Jordanów,suski,małopolskie,21.03,5305,252.258678
317,Maków Podhalański,suski,małopolskie,20.12,5980,297.216700
318,Sucha Beskidzka,suski,małopolskie,27.65,9414,340.470163
319,Ciężkowice,tarnowski,małopolskie,9.99,2496,249.849850
320,Radłów,tarnowski,małopolskie,16.83,2766,164.349376
321,Ryglice,tarnowski,małopolskie,25.15,2870,114.115308
322,Tuchów,tarnowski,małopolskie,18.10,6724,371.491713
323,Wojnicz,tarnowski,małopolskie,8.50,3401,400.117647
324,Zakliczyn,tarnowski,małopolskie,4.02,1661,413.184080
325,Żabno,tarnowski,małopolskie,11.13,4214,378.616352
326,Tarnów,Tarnów[a],małopolskie,72.38,111376,1538.767615
327,Zakopane,tatrzański,małopolskie,84.26,27556,327.035367
328,Andrychów,wadowicki,małopolskie,10.33,20993,2032.236205
329,Kalwaria Zebrzydowska,wadowicki,małopolskie,5.50,4603,836.909091
330,Wadowice,wadowicki,małopolskie,10.54,19254,1826.755218

* display cities from the 'małopolskie' province and 'tarnowski' region

In [32]:
cities_in_poland.query("Province == 'małopolskie' and Region == 'tarnowski'")

           City     Region     Province  Areakm2  Population     Density
319  Ciężkowice  tarnowski  małopolskie     9.99        2496  249.849850
320      Radłów  tarnowski  małopolskie    16.83        2766  164.349376
321     Ryglice  tarnowski  małopolskie    25.15        2870  114.115308
322      Tuchów  tarnowski  małopolskie    18.10        6724  371.491713
323     Wojnicz  tarnowski  małopolskie     8.50        3401  400.117647
324   Zakliczyn  tarnowski  małopolskie     4.02        1661  413.184080
325       Żabno  tarnowski  małopolskie    11.13        4214  378.616352

* display cities from the 'małopolskie' province and 'tarnowski' region, sorted by area, starting with the largest one

In [33]:
cities_in_poland.query(
    "Province == 'małopolskie' and Region == 'tarnowski'"
).sort_values("Areakm2", ascending=False)

           City     Region     Province  Areakm2  Population     Density
321     Ryglice  tarnowski  małopolskie    25.15        2870  114.115308
322      Tuchów  tarnowski  małopolskie    18.10        6724  371.491713
320      Radłów  tarnowski  małopolskie    16.83        2766  164.349376
325       Żabno  tarnowski  małopolskie    11.13        4214  378.616352
319  Ciężkowice  tarnowski  małopolskie     9.99        2496  249.849850
323     Wojnicz  tarnowski  małopolskie     8.50        3401  400.117647
324   Zakliczyn  tarnowski  małopolskie     4.02        1661  413.184080