In [8]:
import pandas as pd

cities_in_poland = pd.read_csv("cities-in-poland.csv", sep=";")

Display the first 10 rows of data

In [18]:
cities_in_poland.head(10)

           City          Region      Province  Areakm2  Population
0   Bolesławiec   bolesławiecki  dolnośląskie    23.57       39464
1  Nowogrodziec   bolesławiecki  dolnośląskie    16.10        4227
2       Bielawa  dzierżoniowski  dolnośląskie    36.21       30987
3   Dzierżoniów  dzierżoniowski  dolnośląskie    20.07       34168
4       Niemcza  dzierżoniowski  dolnośląskie    19.81        3107
5      Pieszyce  dzierżoniowski  dolnośląskie    63.61        9586
6  Piława Górna  dzierżoniowski  dolnośląskie    20.93        6702
7        Głogów       głogowski  dolnośląskie    35.11       68836
8          Góra        górowski  dolnośląskie    13.65       12316
9        Wąsosz        górowski  dolnośląskie     3.24        2774

Display all rows of data

In [36]:
# pd.set_option('display.max_row', None)
# or
# cities_in_poland.head(None)

Display last 8 rows of data with columns: City, Province, Population

In [20]:
cities_in_poland.loc[:,["City", "Province", "Population"]].tail(8)

              City            Province  Population
905     Szczecinek  zachodniopomorskie       40535
906  Połczyn-Zdrój  zachodniopomorskie        8418
907        Świdwin  zachodniopomorskie       15588
908    Świnoujście  zachodniopomorskie       41276
909         Człopa  zachodniopomorskie        2345
910    Mirosławiec  zachodniopomorskie        3040
911         Tuczno  zachodniopomorskie        1956
912          Wałcz  zachodniopomorskie       26033

Calculate and add population density to the data frame (add a new column)

In [30]:
cities_in_poland["Density"] = cities_in_poland["Population"]/cities_in_poland["Areakm2"]

Display first 5 rows with columns: City, Density

In [33]:
cities_in_poland.loc[:,["City", "Density"]].head(5)

           City      Density
0   Bolesławiec  1674.331778
1  Nowogrodziec   262.546584
2       Bielawa   855.758078
3   Dzierżoniów  1702.441455
4       Niemcza   156.839980

Sort cities alphabetically and display the first 10 cities

In [34]:
cities_in_poland.sort_values("City").head(10)

,City,Region,Province,Areakm2,Population,Density
91,Aleksandrów Kujawski,aleksandrowski,kujawsko-pomorskie,7.23,12487,1727.109267
267,Aleksandrów Łódzki,zgierski,łódzkie,13.82,21224,1535.745297
276,Alwernia,chrzanowski,małopolskie,8.88,3435,386.824324
328,Andrychów,wadowicki,małopolskie,10.33,20993,2032.236205
156,Annopol,kraśnicki,lubelskie,7.73,2624,339.456662
503,Augustów,augustowski,podlaskie,80.90,30482,376.786156
214,Babimost,zielonogórski,lubuskie,3.65,3999,1095.616438
420,Baborów,głubczycki,opolskie,11.86,3009,253.709949
501,Baranów Sandomierski,tarnobrzeski,podkarpackie,9.15,1463,159.890710
139,Barcin,żniński,kujawsko-pomorskie,3.70,7655,2068.918919

Display cities with at least half a million inhabitants (How many such cities are there in Poland?)

In [37]:
cities_in_poland.query("Population >= 500000")

,City,Region,Province,Areakm2,Population,Density
75,Wrocław,Wrocław[a],dolnośląskie,292.82,634487,2166.815791
240,Łódź,Łódź[a],łódzkie,293.25,706004,2407.515772
290,Kraków,Kraków[a],małopolskie,326.85,761873,2330.956096
352,Warszawa,m. st. Warszawa[a],mazowieckie,517.24,1735442,3355.196814
807,Poznań,Poznań[a],wielkopolskie,261.91,545680,2083.463785

Display 10 cities with the highest population

In [44]:
cities_in_poland.sort_values("Population", ascending=False).head(10)

,City,Region,Province,Areakm2,Population,Density
352,Warszawa,m. st. Warszawa[a],mazowieckie,517.24,1735442,3355.196814
290,Kraków,Kraków[a],małopolskie,326.85,761873,2330.956096
240,Łódź,Łódź[a],łódzkie,293.25,706004,2407.515772
75,Wrocław,Wrocław[a],dolnośląskie,292.82,634487,2166.815791
807,Poznań,Poznań[a],wielkopolskie,261.91,545680,2083.463785
551,Gdańsk,Gdańsk[a],pomorskie,261.96,461489,1761.677355
901,Szczecin,Szczecin[a],zachodniopomorskie,300.55,407180,1354.782898
99,Bydgoszcz,Bydgoszcz[a],kujawsko-pomorskie,175.98,357652,2032.344585
163,Lublin,Lublin[a],lubelskie,147.47,341722,2317.230623
615,Katowice,Katowice[a],śląskie,164.64,301834,1833.296890

Display 10 cities with the least population

In [45]:
cities_in_poland.sort_values("Population").head(10)

,City,Region,Province,Areakm2,Population,Density
332,Wyśmierzyce,białobrzeski,mazowieckie,16.84,921,54.691211
675,Działoszyce,pińczowski,świętokrzyskie,1.92,964,502.083333
510,Suraż,białostocki,podlaskie,33.86,1009,29.799173
890,Nowe Warpno,policki,zachodniopomorskie,24.51,1226,50.020400
211,Szlichtyngowa,wschowski,lubuskie,1.55,1289,831.612903
662,Skalbmierz,kazimierski,świętokrzyskie,7.13,1313,184.151473
521,Kleszczele,hajnowski,podlaskie,46.71,1321,28.280882
563,Krynica Morska,nowodworski,pomorskie,116.01,1335,11.507629
137,Lubień Kujawski,włocławski,kujawsko-pomorskie,2.31,1413,611.688312
833,Dobra,turecki,wielkopolskie,1.84,1427,775.543478

Display cities from the 'małopolskie' province

In [48]:
cities_in_poland.query("Province == 'małopolskie'")

,City,Region,Province,Areakm2,Population,Density
272,Bochnia,bocheński,małopolskie,29.87,30104,1007.833947
273,Nowy Wiśnicz,bocheński,małopolskie,4.97,2767,556.740443
274,Brzesko,brzeski,małopolskie,11.83,17090,1444.632291
275,Czchów,brzeski,małopolskie,14.09,2364,167.778566
276,Alwernia,chrzanowski,małopolskie,8.88,3435,386.824324
...,...,...,...,...,...,...
326,Tarnów,Tarnów[a],małopolskie,72.38,111376,1538.767615
327,Zakopane,tatrzański,małopolskie,84.26,27556,327.035367
328,Andrychów,wadowicki,małopolskie,10.33,20993,2032.236205
329,Kalwaria Zebrzydowska,wadowicki,małopolskie,5.50,4603,836.909091
330,Wadowice,wadowicki,małopolskie,10.54,19254,1826.755218

Display cities from the 'małopolskie' province and 'tarnowski' region

In [49]:
cities_in_poland.query("Province =='małopolskie' or Region == 'tarnowski'")

,City,Region,Province,Areakm2,Population,Density
272,Bochnia,bocheński,małopolskie,29.87,30104,1007.833947
273,Nowy Wiśnicz,bocheński,małopolskie,4.97,2767,556.740443
274,Brzesko,brzeski,małopolskie,11.83,17090,1444.632291
275,Czchów,brzeski,małopolskie,14.09,2364,167.778566
276,Alwernia,chrzanowski,małopolskie,8.88,3435,386.824324
...,...,...,...,...,...,...
326,Tarnów,Tarnów[a],małopolskie,72.38,111376,1538.767615
327,Zakopane,tatrzański,małopolskie,84.26,27556,327.035367
328,Andrychów,wadowicki,małopolskie,10.33,20993,2032.236205
329,Kalwaria Zebrzydowska,wadowicki,małopolskie,5.50,4603,836.909091
330,Wadowice,wadowicki,małopolskie,10.54,19254,1826.755218

Display cities from the 'małopolskie' province and 'tarnowski' region, sorted by area, starting with the largest one

In [51]:
cities_in_poland.query("Province =='małopolskie' or Region == 'tarnowski'").sort_values("Areakm2", ascending=False)

,City,Region,Province,Areakm2,Population,Density
290,Kraków,Kraków[a],małopolskie,326.85,761873,2330.956096
327,Zakopane,tatrzański,małopolskie,84.26,27556,327.035367
326,Tarnów,Tarnów[a],małopolskie,72.38,111376,1538.767615
306,Bukowno,olkuski,małopolskie,64.59,10336,160.024772
305,Nowy Sącz,Nowy Sącz[a],małopolskie,57.58,83853,1456.286905
...,...,...,...,...,...,...
273,Nowy Wiśnicz,bocheński,małopolskie,4.97,2767,556.740443
289,Świątniki Górne,krakowski,małopolskie,4.44,2400,540.540541
324,Zakliczyn,tarnowski,małopolskie,4.02,1661,413.184080
288,Słomniki,krakowski,małopolskie,3.43,4402,1283.381924
286,Skała,krakowski,małopolskie,2.97,3800,1279.461279